@model Someren.Models.Room

@{
    ViewData["Title"] = "Edit Room";
}

<div class="container py-5">
    <h4 class="display-4 mb-4">Edit Room</h4>
    <form action="/Room/Edit" method="POST">
        <input type="hidden" name="RoomNumber" value="@Model?.RoomNumber" />
        <div class="form-group w-50 mb-3">
            <label for="RoomNumber">Room number:</label>
            <input type="text" class="form-control" id="RoomNumber" name="RoomNumber" placeholder="A1-02" disabled value="@Model?.RoomNumber">
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div class="alert alert-danger mt-3">@ViewBag.ErrorMessage</div>
            }
        </div>
       <div class="form-group w-50 mb-3">
            <label for="Size">Room Size:</label>
            <select class="form-control" id="Size" name="Size" required>
                <option value="1" selected="@(Model?.Size == 1)">1</option>
                <option value="8" selected="@(Model?.Size == 8)">8</option>
            </select>
        </div>

        <div class="form-group w-50 mb-3">
            <label for="Type">Room Type:</label>
            <select class="form-control" id="Type" name="Type" required>
                <option value="Lecturer" selected="@(Model?.Type == "Lecturer")">Lecturer</option>
                <option value="Student" selected="@(Model?.Type == "Student")">Student</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Update</button>
        <a href="/Room" class="btn btn-secondary mt-3 ms-2">Cancel</a>
    </form>
</div>

