@model List<Someren.Models.Lecturer>

@{
    ViewData["Title"] = "Lecturers";
}


<div class="text-center">
    <h1 class="display-4"> Lecturer overview</h1>
    <p>There are @Model.Count lecturers</p>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success mx-4 mt-3">
            <i class="fas fa-check-circle me-2"></i> @TempData["SuccessMessage"]
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger mx-4 mt-3">
            <i class="fas fa-exclamation-circle me-2"></i> @TempData["ErrorMessage"]
        </div>
    }

    <a href="/Lecturers/Create">Create new</a>


<form action="/Lecturers/Index" method="Post">
    <label for="LastName">Search for last name:</label>
    <input type="text" id="LastName" name="LastName" class="form-control" />

</form>
    <a href="/Lecturers/Index">Back to overview</a>


    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>First name:</th>
                <th>Last name:</th>
                <th>Room Number:</th>
                <th>Telephone number</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Lecturer lecturer in Model)
                {
                    <tr>
                        <td>@lecturer.LecturerId</td>
                        <td>@lecturer.FirstName</td>
                        <td>@lecturer.LastName</td>
                        <td>@lecturer.RoomNumber</td>
                        <td>@lecturer.PhoneNumber</td>
                        <td>@lecturer.Age</td>
                        <td><a href="/Lecturers/Update/@lecturer.LecturerId">Edit</a> <a href="/Lecturers/Delete/@lecturer.LecturerId">Delete</a></td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>