@model List<Someren.Models.Lecturer>

@{
    ViewData["Title"] = "Lecturers";
}


<div class="text-center">
    <h1 class="display-4"> Lecturer overview</h1>
    <p>There are @Model.Count deleted lecturers</p>

    <a href="/Lecturers/Index">Go back to lecturers</a>


    <form action="/Lecturers/ListDeleted" method="Post">
        <label for="LastName">Search for last name:</label>
        <input type="text" id="LastName" name="LastName" class="form-control" />

        <button type="submit" class="btn">Search</button>

    </form>
    <a href="/Lecturers/ListDeleted">Back to overview</a>


    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>First name:</th>
                <th>Last name:</th>
                <th>Room Number:</th>
                <th>Telephone number</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Lecturer lecturer in Model)
                {
                    <tr>
                        <td>@lecturer.LecturerId</td>
                        <td>@lecturer.FirstName</td>
                        <td>@lecturer.LastName</td>
                        <td>@lecturer.RoomNumber</td>
                        <td>@lecturer.PhoneNumber</td>
                        <td>@lecturer.Age</td>
                        <td><a href="/Lecturers/Update/@lecturer.LecturerId">Restore</a> <a href="/Lecturers/Delete/@lecturer.LecturerId">Delete</a></td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>